<% include partials/header %>

<h1>Login</h1>

<% if (message.length > 0) { %>
<div class="alert alert-danger">
    <%= message %>
</div>
<% } %>

<form action="/login" method="post">
    <input type="text" name="email" placeholder="Email" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <button type="submit">Login</button><br><br><br>
    <a href="/register">Register</a>
</form>

<% include partials/footer %>