<% include partials/header %>

<h1>Register to
    <%= title %>
</h1>

<% if (message.length > 0) { %>
<div class="alert alert-danger">
    <%= message %>
</div>
<% } %>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="Username" required><br>
    <input type="text" name="email" placeholder="Email" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <input type="password" name="password2" placeholder="Repeat Password" required><br>
    <button type="submit">Register</button><br><br><br>
    <a href="/login">Login</a>
</form>

<% include partials/footer %>