* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font: 14px/1.4 "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}